<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{#if site.title}}{{site.title}} :: {{/if}}{{#if page.title}}{{page.title}}{{/if}}</title>
    {{#if page.canonicalUrl}}
    <link rel="canonical" href="{{page.canonicalUrl}}">
    {{/if}}
    {{#if page.description}}
    <meta name="description" content="{{page.description}}">
    {{/if}}
    {{#if page.keywords}}
    <meta name="keywords" content="{{page.keywords}}">
    {{/if}}
    {{#if page.robots}}
    <meta name="robots" content="{{page.robots}}">
    {{/if}}
    <meta name="generator" content="Talend Component Kit Generator">
{{> head}}
  </head>
  <body>
    {{#if page.attributes.talend_landing}}
        {{>landing}}
    {{else}}
      {{> header-content}}
        {{#if page.attributes.talend_documentationindex}}
            <main class="documentationindex">
              {{>documentationindex this}}
            </main>
        {{else}}
            <main class="main">
              {{> navigation}}
              <div class="col-xs-12 col-sm-10 maincontent">
                {{#cond page.attributes.talend_stage '===' 'draft'}}
                    <p class="bg-warning">This page is a draft, its content can be incorrect or unfinished.</p>
                {{/cond}}
                {{> toolbar}}
                {{> article}}
              </div>
            </main>
        {{/if}}
      {{> footer-content}}
    {{/if}}
    {{> footer-scripts}}
  </body>
</html>
