<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{detag (or page.title 'Untitled')}}{{#if site.title}} :: {{site.title}}{{/if}}</title>
    {{#if page.canonicalUrl}}
    <link rel="canonical" href="{{page.canonicalUrl}}">
    {{/if}}
    {{#if page.description}}
    <meta name="description" content="{{page.description}}">
    {{/if}}
    {{#if page.keywords}}
    <meta name="keywords" content="{{page.keywords}}">
    {{/if}}
    <meta name="generator" content="Talend Component Kit Generator">
{{> head}}
  </head>
  <body>
    {{> header-content}}
    <main class="main">
      {{> navigation}}
      <div class="col-sm-10 maincontent">
        {{> toolbar}}
        {{> article}}
      </div>
    </main>
    {{> footer-content}}
    {{> footer-scripts}}
  </body>
</html>
