<article class="doc">
    {{#if page.attributes.talend_contributors}}
        <h1>{{{page.title}}}</h1>
        {{>contributors page}}
    {{else if page.attributes.talend_search}}
        <h1>{{{page.title}}}</h1>
        {{>search this}}
    {{else}}
        <div class="row">
          <div class="col-sm-9 row">
            {{#if page.title}}
              <h1>{{{page.title}}}</h1>
            {{/if}}
            <div class="article-content">
              {{{page.contents}}}
            </div>
          </div>
          <div class="col-sm-3 container article-side-panel">
            <nav class="article-anchors">
              <div class="article-side-actions">
                <h1>Actions</h1>
                <ul class="list-inline">
                    {{#if page.editUrl}}<li>
                      <a class="article-side-actions-link" target="_blank" href="{{page.editUrl}}">
                        <i class="fa fa-edit"></i> Edit
                      </a>
                    </li>{{/if}}
                    <li>
                        <ul class="list-inline">
                            <li>
                                <a class="article-side-actions-link" target="_blank"
                                   href="https://twitter.com/intent/tweet?original_referer={{encodeURIComponent page.canonicalUrl}}&text=Talend%20Component%20Kit%20%3E%3E%20{{encodeURIComponent page.title}}%20%3E%3E%20&tw_p=tweetbutton&url={{encodeURIComponent page.canonicalUrl}}">
                                    <i class="fab fa-twitter"></i> Tweet
                                </a>
                            </li>
                            <li>
                                <a class="article-side-actions-link"
                                   href="mailto:?subject=Talend%20Component%20Kit%3A%20{{encodeURIComponent page.title}}&body=Talend%20Component%20Kit%3A%20{{encodeURIComponent page.title}}%0A%0A{{encodeURIComponent page.canonicalUrl}}">
                                    <i class="far fa-envelope"></i> Mail
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
              </div>
              <h1>On this page</h1>
            </nav>
          </div>
          <a href="#top" class="top">Scroll to top</a>
        </div>
        <script>(window.talend = (window.talend || {})).article = true;</script>
    {{/if}}
</article>
