<div class="row contributors">
    {{#readContributors contents}}
    <div class="contributor">
        <div>
            <img alt="{{name}}" src="{{gravatar}}" style="width:140px">
        </div>
        <div>
            <h3 class="contributor-name" style="font-size:1.4em;">{{name}}</h3>
            <h3 class="contributor-commits" style="font-size:1.4em;">#{{commits}} {{pluralize commits 'commit'}}</h3>
            <p class="contributor-description">{{description}}</p>
        </div>
    </div>
    {{/readContributors}}
</div>
