<div class="col-sm-offset-1 col-sm-10">
    {{#if page.title}}
        <h1>{{{page.title}}}</h1>
    {{/if}}

    {{#readNotJSON page.contents 'before'}}
    {{#if .}}
    <div class="documentationindex-before col-sm-12">
      {{{.}}}
    </div>
    {{/if}}
    {{/readNotJSON}}

    <div class="documentationindex-items col-sm-12">
      {{#readJSON page.contents 'documentationindex'}}
      <div class="documentationindex-item col-sm-3">
        <a href="{{link}}" class="documentationindex-link">
            <div class="documentationindex-icon">
              <i class="fa fa-5x fa-{{icon}}"></i>
            </div>
            <div class="documentationindex-title">
              {{label}}
            </div>
            <p class="documentationindex-description">
              {{description}}
            </p>
        </a>
      </div>
      {{/readJSON}}
    </div>
</div>
<script>(window.talend = (window.talend || {})).documentationIndex = true;</script>
