<div class="row popcorn">
  <div id="popcorn-container"></div>
  <div class="popcorn-spacer"></div>
  <div id="popcorn-comment"></div>
</div>

<script>
window.slideDefinition = {
  rawSlides: "{{{stringify page.contents}}}",
  video: "{{page.attributes.popcorn_video}}"
};
</script>
<script type="text/javascript" src="{{uiRootPath}}/js/popcorn.js?version=1.5.11"></script>
<script type="text/javascript" src="{{uiRootPath}}/js/popcorn.footnote.js?version=1.5.11"></script>
<script type="text/javascript" src="{{uiRootPath}}/js/popcorn-init.js?version=1.0.0"></script>
